/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.auth{
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(45deg, hsl(19,67%,54%),hsl(64,67%,54%),hsl(109,67%,54%),hsl(154,67%,54%),hsl(199,67%,54%),hsl(244,67%,54%),hsl(289,67%,54%),hsl(334,67%,54%)); */
  /* background-image: linear-gradient(75deg, rgba(253, 253, 253,0.05) 0%, rgba(253, 253, 253,0.05) 50%,rgba(131, 131, 131,0.05) 50%, rgba(131, 131, 131,0.05) 100%),linear-gradient(292deg, rgba(21, 21, 21,0.05) 0%, rgba(21, 21, 21,0.05) 50%,rgba(145, 145, 145,0.05) 50%, rgba(145, 145, 145,0.05) 100%),linear-gradient(122deg, rgba(33, 33, 33,0.05) 0%, rgba(33, 33, 33,0.05) 50%,rgba(37, 37, 37,0.05) 50%, rgba(37, 37, 37,0.05) 100%),linear-gradient(27deg, rgba(243, 243, 243,0.05) 0%, rgba(243, 243, 243,0.05) 50%,rgba(17, 17, 17,0.05) 50%, rgba(17, 17, 17,0.05) 100%),linear-gradient(56deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 50%,rgba(252, 252, 252,0.05) 50%, rgba(252, 252, 252,0.05) 100%),linear-gradient(204deg, rgba(176, 176, 176,0.05) 0%, rgba(176, 176, 176,0.05) 50%,rgba(69, 69, 69,0.05) 50%, rgba(69, 69, 69,0.05) 100%),linear-gradient(192deg, rgba(242, 242, 242,0.05) 0%, rgba(242, 242, 242,0.05) 50%,rgba(67, 67, 67,0.05) 50%, rgba(67, 67, 67,0.05) 100%),radial-gradient(circle at center center, rgb(254, 96, 212) 0%,rgb(198, 12, 55) 81%); */
  background-image: linear-gradient(336deg, rgba(81, 81, 81,0.05) 0%, rgba(81, 81, 81,0.05) 50%,rgba(80, 80, 80,0.05) 50%, rgba(80, 80, 80,0.05) 100%),linear-gradient(359deg, rgba(25, 25, 25,0.05) 0%, rgba(25, 25, 25,0.05) 50%,rgba(25, 25, 25,0.05) 50%, rgba(25, 25, 25,0.05) 100%),linear-gradient(96deg, rgba(150, 150, 150,0.05) 0%, rgba(150, 150, 150,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),linear-gradient(257deg, rgba(68, 68, 68,0.05) 0%, rgba(68, 68, 68,0.05) 50%,rgba(48, 48, 48,0.05) 50%, rgba(48, 48, 48,0.05) 100%),linear-gradient(286deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(192, 192, 192,0.05) 50%, rgba(192, 192, 192,0.05) 100%),linear-gradient(54deg, rgba(92, 92, 92,0.05) 0%, rgba(92, 92, 92,0.05) 50%,rgba(212, 212, 212,0.05) 50%, rgba(212, 212, 212,0.05) 100%),linear-gradient(354deg, rgba(122, 122, 122,0.05) 0%, rgba(122, 122, 122,0.05) 50%,rgba(215, 215, 215,0.05) 50%, rgba(215, 215, 215,0.05) 100%),radial-gradient(circle at center center, rgb(201, 42, 226),rgb(42, 22, 204));
  /* animation: bgrotate 2s linear infinite; */
}

@keyframes bgrotate {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: purple;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: purple;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: purple;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: purple;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}