torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
intel-extension-for-pytorch
accelerate==0.23.0 
validators==0.22.0 
transformers==4.32.1 
sentencepiece
ipywidgets
pillow
pypdf
streamlit
pyngrok
backoff
streamlit-chat==0.0.2.2
PyPDF2==3.0.1
langchain==0.0.168
chromadb==0.3.21
tiktoken
openpyxl
prettytable==3.8.0
Pymupdf
