{% extends 'base.html' %}{% block content %}

{% load static %}


            {% if message %}
        <script>

        function redirectToProduct(s) {
             window.location.href = 'shop_new/' + s;

        }

        alert("added product to cart")
        </script>

    {% endif %}


             <section id="page-header">

            <h2>Shopping Page</h2>

            <p>Explore Our Collection</p>
             </section>
        <section id="product1" class="section-p1">

          <div class="pro-container">


{% for data in product_data %}
            <!-- product 1 -->

            <div class="pro" onclick="redirectToProduct('{{ data.id }}')">
             <img src="/media/{{ data.image }}"    alt=""  style="  height: 450px ">

                <br>
              <div class="des" >
                <span>{{ data.name }}</span>
{#                <h5>Watch // Variant 1</h5>#}
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>${{data.price}}</h4>
              </div>
              <a href="/shop/{{ data.id }}/"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>

            </div>
    {%  endfor %}


          </div>
        </section>


        

{% endblock %}