@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: black;
  background-image: linear-gradient(346deg, rgba(81,81,81, 0.04) 0%, rgba(81,81,81, 0.04) 22%,rgba(230,230,230, 0.04) 22%, rgba(230,230,230, 0.04) 69%,rgba(81,81,81, 0.04) 69%, rgba(81,81,81, 0.04) 100%),linear-gradient(31deg, rgba(81,81,81, 0.04) 0%, rgba(81,81,81, 0.04) 42%,rgba(230,230,230, 0.04) 42%, rgba(230,230,230, 0.04) 85%,rgba(81,81,81, 0.04) 85%, rgba(81,81,81, 0.04) 100%),linear-gradient(55deg, rgba(81,81,81, 0.04) 0%, rgba(81,81,81, 0.04) 13%,rgba(230,230,230, 0.04) 13%, rgba(230,230,230, 0.04) 72%,rgba(81,81,81, 0.04) 72%, rgba(81,81,81, 0.04) 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
  /* background-image: repeating-linear-gradient(297deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(59deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),repeating-linear-gradient(0deg, hsla(359,0%,70%,0.12) 0px,transparent 2px,hsla(359,0%,70%,0.12) 7px,transparent 9px,hsla(359,0%,70%,0.12) 14px,transparent 16px,hsla(359,0%,70%,0.12) 21px),linear-gradient(90deg, rgb(253,253,253),rgb(253,253,253)); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 2px solid rgb(231, 0, 162);
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.logo{
  height: 30px;
}

.menulogo{
  color: white;
  font-size: 33px;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: rgb(255, 0, 255);
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content:"";
  width: 40%;
  height: 2px;
  background: rgb(255, 0, 255);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.icart{
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
}

.icart:hover{
  color: rgb(255, 0, 255);
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}


/* Home Page */

#hero{
  background-image: url(/img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: purple;
}

#hero button{
  background-image: url(/img/button.png);
  background-color: transparent;
  color: purple;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid grey;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 61, 221, 0.1);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: rgb(184, 184, 184);
}

/* each child h6 tag color */
#feature .fe-box:nth-child(2) h6{
  background-color: rgb(255, 0, 0);
}

/* whole box color */
#feature .fe-box:nth-child(2){
  background-color: rgb(255, 137, 137);
}

#feature .fe-box:nth-child(3) h6{
  background-color: rgb(60, 255, 0);
}

#feature .fe-box:nth-child(4) h6{
  background-color: rgb(0, 251, 255);
}

#feature .fe-box:nth-child(5) h6{
  background-color: rgb(149, 0, 255);
}

#feature .fe-box:nth-child(6) h6{
  background-color: rgb(255, 0, 166);
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid purple;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
  width: 100%;
  border-radius: 10px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: grey;
  font-size: 15px;
  font-weight: 600;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: black;
  font-size: 15px;
}

.ratingstar{
  color: rgb(0, 128, 171);
  font-size: 12px;
  padding-top: 7px;
}

#product1 .pro .des h4{
  padding-top: 7px;
  color: black;
  font-size: 20px;
}

#product1 .pro .addtocart{
  width: 30px;
  height: 30px;
  line-height: 40px;
  border: 5px solid lavender;
  border-radius: 50px;
  background-color: purple;
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 40px;
  right: 20px;
}

/* Shop Page */

#page-header{
  background-image: url("/img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p{
  color: white;
}

#pagination{
  text-align: center;
}

#pagination a{
  font-family: 'Poppins';
  text-decoration: none;
  background: black;
  width: 30px;
  height: 30px;
  padding: 15px 25px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.arrow{
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */

#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
  text-align: start;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details button{
  background-color: purple;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: 4px; 
}

#prodetails .single-pro-details span{
  line-height: 25px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display:flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

/* Footer section */

.footer-distributed{
  /* background: #666; */
  
  background-image: radial-gradient(circle at bottom center, rgb(182,55,234) 0%, rgb(182,55,234) 12%,rgb(175,63,222) 12%, rgb(175,63,222) 18%,rgb(166,66,207) 18%, rgb(166,66,207) 23%,rgb(161,80,198) 23%, rgb(161,80,198) 47%,rgb(144,63,186) 47%, rgb(144,63,186) 59%,rgb(126,63,175) 59%, rgb(126,63,175) 68%,rgb(126,37,163) 68%, rgb(126,37,163) 86%,rgb(109,10,151) 86%, rgb(109,10,151) 100%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

.flheader{
  color: white;
  font-weight: 700;
  font-size: 20px;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #000000;
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center span{
  color: #ffffff;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #000000;
  font-weight:600;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: 600;
  font-size: 20px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #000000;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


/* Custom Scroll Bar */

* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #F2FDFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #F2FDFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b639ff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9A00F5;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #9A00F5;
}

/* Media Query BREAKPOINTS */

@media (max-width:799px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: beige;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
    z-index: 999;
  }

  #navbar.active{
    right: 0px;
  }

  #navbar li{
    margin-bottom: 25px;
  }

  #navbar li a{
    color: #000000;
  }

  .icart{
    color: #000000;
  }
  
  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile .menulogo{
    color: rgb(255, 255, 255);
    font-size: 33px;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgb(0, 0, 0);
    font-size: 24px;
  }

  #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature{
    justify-content: center;
  }

  #feature .fe-box{
    margin: 15px 15px;
  }

  .section-p1{
    padding: 40px 40px;
  }

  #product1 .pro-container{
    justify-content: center;
  }

  #product1 .pro{
    margin: 15px;
  }
}

@media (max-width: 477px){

  .section-p1{
    padding: 25px;
  }
  #header{
    padding: 10px 30px;
  }
  .logo{
    height: 22px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 32px;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  #feature{
    justify-content: space-between;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }

  /* Single Product */
  #prodetails{
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image{
    width:100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details{
    width: 100%;
  }  

}
