{% extends 'base.html' %}{% block content %}

{% load static %}


        <section id="page-header">
            
            <h2>Shopping Page</h2>
            
            <p>Explore Our Collection</p>
            
        </section>

        <section id="product1" class="section-p1">
          <!-- <h2>Featured Products</h2>
          <p>Suggested for you</p> -->
          <div class="pro-container">

            <!-- product 1 -->
            <div class="pro" onclick="window.location.href='{% url 'index' %}';">
              <img src="{% static '/img/products/f1.jpg' %}" alt=" ">
              <div class="des">
                <span>Optic</span>
                <h5>Watch // Variant 1</h5>
                <div class="star">
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star" class="ratingstar"></ion-icon>
                  <ion-icon name="star-half" class="ratingstar"></ion-icon>
                </div>
                <h4>$10</h4>
              </div>
              <a href="#"><ion-icon name="add-outline" class="addtocart"></ion-icon></a>
            </div>

            <!-- product 2 -->

          </div>
        </section>

        <section id="pagination" class="section-p1">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#"><ion-icon name="arrow-forward-outline" class="arrow"></ion-icon></a>
        </section>
        

{% endblock %}